
<div class="row" id="mypd">
    <!-- 右邊內容 -->
    <div class="col-lg-10">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top"
                     v-bind:src="products.picPath"
                     alt="Card image" style="width:100%">
                <div class="card-body">
                    @*商品創立時間*@
                    <h5>{{products.createTime}}</h5>
                    @*商品名稱*@
                    <h4 class="card-title">{{products.name}}</h4>
                    @*商品描述*@
                    <p class="card-text">{{products.description}}</p>
                    <a href="#" class="btn btn-primary2 stretched-link">了解更多</a>
                </div>
            </div>
        </div>
        <!-- 上一頁、下一頁 -->
        <div class="center col-lg-12">
            <div class="margin-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">上一頁</a> </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div> <button v-on:click="">訂購</button></div>
    <!-- 右邊內容 -->
</div>
