<br/>
<br/>
<br/>

<div class="container">
    <div id="form1">
            <div class="form-group row">
                <label for="title" class="col-sm-4 col-form-label">商品名稱</label>
                <div class="col-sm-8">
                    <input type="text"  class="form-control" id="title" v-model="hello.title">
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-4 col-form-label">價錢</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="price"  v-model="hello.price">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label">敘述</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="description"  v-model="hello.description">
                </div>
            </div>
            <div class="form-group row">
                <label for="pic" class="col-sm-4 col-form-label">上傳照片</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="pic" v-on:change="up" multiple="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">操作</label>
                <div class="col-sm-8">
                    <button class="btn btn-primary" @@click="send">新增</button>
                </div>
            </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#form1',
        data: {
            hello: {
                title: "",
                price: "",
                description: "",
                pic: null
            }
        },
        methods: {
            up: function(event) {
                console.log(event);
                const pic = event.target.files[0];
                this.hello.pic = pic;
                alert("你上傳了拉~~");
            },
            send: function() {
                let self = this;
                let bodyFormData = new FormData();
                bodyFormData.append("Title", this.hello.title);
                bodyFormData.append("Price", this.hello.price);
                bodyFormData.append("Descriptions", this.hello.descriptions);
                bodyFormData.append("Pic", this.hello.pic);

                alert("測試");
                axios({
                        method: "post",
                        url: "/TestProduct/UploadFile",
                        data: bodyFormData,
                        headers: { "Content-Type": "multipart/form-data" }
                    })
                    .then(function(response) {
                        if (response.data === true) {
                            alert("成功拉");
                        } else {
                            alert("失敗");
                        }
                    })
                    .catch(function(response) {
                        //handle error
                        console.log(response);
                    });
            }
        }
    });
</script>
