<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tuan Buy">
    <meta name="keywords" content="Tuan Buy, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuan Buy</title>
</head>

<body>
    <!-- 會員首頁 -->
    <!-- 左邊表格 -->
    <div class="container mtb2rem">
        <div class="row">
            <div class="col-lg-2">
                <div>
                    <img src="https://img.league-funny.com/imgur/148292128067.jpg" alt="頭像">
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="collapsecard">
                        <div class="collapsecardhead" id="headingOne">
                            <h2 class="mb-0 bgcf5">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">個人檔案</a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">銀行帳號/信用卡</a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">更改密碼</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapsecard">
                        <div class="collapsecardhead" id="headingTwo">
                            <h2 class="mb-0 bgcf5">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    購買清單
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">我的商品</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapsecard">
                        <div class="collapsecardhead" id="headingThree">
                            <h2 class="mb-0 bgcf5">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    通知總攬
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">通知</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapsecard">
                        <div class="collapsecardhead" id="headingFour">
                            <h2 class="mb-0 bgcf5">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    團購優惠券
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="collapsecard-body bgcf5">
                                <a href="#">我的優惠券</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右邊內容 -->
            <div class="col-lg-10 form-row acccolor">
                <div class="col-lg-12 acpabord">
                    <h4>我的檔案</h4>
                </div>
                <div class="col-lg-8">
                    <label class="prop" for="name">姓名</label>
                    <input class="protext" type="text" name="" id="name">
                    <label class="prop promgtop" for="phone">手機號碼</label>
                    <input class="protext" type="text" name="" id="phone">
                    <label class="prop promgtop" for="addres">地址</label>
                    <input class="protext" type="text" name="" id="addres">


                    <div>
                        <div class="prop promgtop">性別</div>
                        <input name="sex" type="radio">男
                        <input name="sex" type="radio">女
                        <input name="sex" type="radio">其他
                    </div>
                    <label class="prop promgtop" for="birthday">生日</label>
                    <input class="protext" type="date" name="" id="birthday">
                    <button class="registerbtn">儲存</button>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="https://img.league-funny.com/imgur/148292128067.jpg" alt="頭像">
                    </div>
                    <div>
                        <input type="file" name="files" id="file" onchange="verificationPicFile(this)">
                    </div>
                    <div>
                        <p>檔案大小:最大1MB</p>
                    </div>
                    <div>
                        <p>檔案限制: .JPEG, .PNG</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 會員首頁結束 -->
</body>

</html>