<script src="/VueComponent/VueDemo.js"></script>
<br/>
<br/>
<div id="app">
    <div class="container" id="app">
        <div class="row">
            <test v-bind:user="user"></test>
            <!---->
            <div class="col-lg-10 form-row acccolor">
                <div class="col-lg-12 acpabord">
                    <h4>我的檔案</h4>
                </div>

                <div class="col-lg-8">
                    <label class="prop" for="name">姓名</label>
                    <input class="protext" type="text" name="" id="name" v-model="user.name">
                    <label class="prop promgtop" for="phone">手機號碼</label>
                    <input class="protext" type="text" name="" id="phone" v-model="user.phone">
                    <label class="prop promgtop" for="addres">地址</label>
                    <input class="protext" type="text" name="" id="addres" v-model="user.address">


                    <div>
                        <div class="prop promgtop" >性別</div>
                        <input name="sex" type="radio" value="1"  v-model="user.sex" >男
                        <input name="sex" type="radio"  value="0" v-model="user.sex">女
                        <input name="sex" type="radio"  value="2" v-model="user.sex" >其他
                    </div>

                    <label class="prop promgtop" for="birthday">生日</label>
                    <input class="protext" type="date" name="" id="birthday" v-model="birthDate">
                    <button class="registerbtn" v-on:click="dataUpdate">儲存</button>
                </div>

                
                <div class="col-lg-4">
                    <div>
                        <input type="file" class="form-control" id="uploadPicPath" multiple="" v-on:change="up">
                    </div>
                    <div>
                        <temlate v-if="preview">
                            <img v-bind:src="preview" width="100" height="100" class="Largeheadsticker" />
                        </temlate>
                    </div>
                    <div>
                        <p>大頭貼選擇</p>
                        <p>檔案大小:最大1MB</p>
                    </div>
                    <div>
                        <p>檔案限制: .JPEG, .PNG</p>
                    </div>
                </div>
            

            <!---->
        </div>
    </div>
</div>

</div>


<script>
    var vm = new Vue({
        el: '#app',
        data: {
            user: {
                name: "",
                phone: "",
                birth: "",
                address: "",
                sex: "",
                uploadPicPath: ""
            },
            preview: null
        },
        methods: {
            testDataUpdate: function () {
                let self = this;
                let u = self.user;
                if (u.name.trim() === "" || u.phone.trim() === "" || u.birth.trim() === "" || u.address.trim() === "" || u.sex === null) {
                    alert("請將會員資料填寫完整");
                    return;
                }
                axios.post("/api/MemberCenter", self.user).then(() => { alert("更新成功！"); });
            },
            dataUpdate: function () {
                var bodyFormData = new FormData();
                let self = this;
                let u = self.user;
                if (u.name === "" || u.phone === "" || u.birth === "" || u.address === "" || u.sex === null) {
                    alert("請將會員資料填寫完整");
                    return;
                }
                bodyFormData.append("Name", u.name);
                bodyFormData.append("Phone", u.phone);
                bodyFormData.append("Birth", u.birth);
                bodyFormData.append("Sex", u.sex);
                bodyFormData.append("Address", u.address);
                bodyFormData.append("PicPath", u.uploadPicPath);
                console.log(bodyFormData);
                axios({
                    method: "post",
                    url: "/api/MemberCenter",
                    data: bodyFormData,
                    headers: { "Content-Type": "multipart/form-data" }
                })
                    .then((resp) => {
                        alert("儲存成功！");
                        window.location.reload();
                    })
                    .catch((resp) => alert(resp));
            },
            up: function (event) {
                console.log(event);
                this.user.uploadPicPath = event.target.files[0];
                var input = event.target;
                if (input.files) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        this.preview = e.target.result;
                    }
                    this.image = input.files[0];
                    reader.readAsDataURL(input.files[0]);
                }
                alert("上傳成功");
            }
        },
        mounted: function () {
            let self = this;
            axios.get("/api/MemberCenter/").then((resp) => { this.user = resp.data });
        },
        computed: {
            birthDate:{
                get()
                {
                    return moment(this.user.birth).format('YYYY-MM-DD');
                },
                set(value) {
                    return this.user.birth = moment(value).format('YYYY-MM-DD');
                }
                
            }
        }
    });
</script>
