<script src="/VueComponent/VueDemo.js"></script>

<div class="container mtb2rem" id="app">
    <div class="row">
        <test v-bind:user="user"></test>
        <div class="col-lg-10 purchasecolor">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">全部</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="all-tallab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                       aria-selected="false">待付款</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product1-tab" data-toggle="tab" href="#product1" role="tab"
                       aria-controls="product1" aria-selected="false">待出貨</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product2-tab" data-toggle="tab" href="#product2" role="tab"
                       aria-controls="product2" aria-selected="false">待收貨</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product3-tab" data-toggle="tab" href="#product3" role="tab"
                       aria-controls="product3" aria-selected="false">完成</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product4-tab" data-toggle="tab" href="#product4" role="tab"
                       aria-controls="product4" aria-selected="false">不成立</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- 複製開始 -->
                    <div class="purchaseback">
                        <div class="purchasemg">
                            <div class="col-12 form-row">
                                <div>
                                    <p class="purchaseowner">HarryHarryHarryHarryHarry</p>
                                </div>
                                <div class="purchasebtnsize"><button class="purchasebtn">聊聊</button></div>
                                <div class="purchasebtnsize"><button class="purchasebtn2">查看賣場</button></div>
                            </div>
                            <div class="col-12 form-row purchaseimgborder">
                                <div class="col-2">
                                    <img src="https://img.league-funny.com/imgur/148292128067.jpg"
                                         alt="產品圖片">
                                </div>
                                <div class="col-10">
                                    <div class="col-12 purchasetextbox">
                                        產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述
                                    </div>
                                    <div class="purchasenumber">
                                        <div class="col-6 form-row">
                                            數量
                                        </div>
                                        <div class="col-6 form-row purchasecount">
                                            $10000
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 purchaseend">
                                <div class="purchaseorder">訂單金額:</div>
                                <div class="purchaseallmoney">$10000</div>
                            </div>
                        </div>
                        <div class="col-12 purchaseend"><button class="purchasebtn purchasebuybtnsize">再買一次</button></div>
                    </div>
                    <!-- 複製結束 -->
                    <!-- 複製開始 -->
                    <div class="purchaseback">
                        <div class="purchasemg">
                            <div class="col-12 form-row">
                                <div>
                                    <p class="purchaseowner">團主: Harry</p>
                                </div>
                                <div class="purchasebtnsize"><button class="purchasebtn">聊聊</button></div>
                                <div class="purchasebtnsize"><button class="purchasebtn2">查看賣場</button></div>
                            </div>
                            <div class="col-12 form-row purchaseimgborder">
                                <div class="col-2">
                                    <img src="https://img.league-funny.com/imgur/148292128067.jpg"
                                         alt="產品圖片">
                                </div>
                                <div class="col-10">
                                    <div class="col-12 purchasetextbox">
                                        產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述
                                    </div>
                                    <div class="purchasenumber">
                                        <div class="col-6 form-row">
                                            數量
                                        </div>
                                        <div class="col-6 form-row purchasecount">
                                            $10000
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 purchaseend">
                                <div class="purchaseorder">訂單金額:</div>
                                <div class="purchaseallmoney">$10000</div>
                            </div>
                        </div>
                        <div class="col-12 purchaseend"><button class="purchasebtn purchasebuybtnsize">再買一次</button></div>
                    </div>
                    <!-- 複製結束 -->
                    <!-- 複製開始 -->
                    <div class="purchaseback">
                        <div class="purchasemg">
                            <div class="col-12 form-row">
                                <div>
                                    <p class="purchaseowner">團主: Harry</p>
                                </div>
                                <div class="purchasebtnsize"><button class="purchasebtn">聊聊</button></div>
                                <div class="purchasebtnsize"><button class="purchasebtn2">查看賣場</button></div>
                            </div>
                            <div class="col-12 form-row purchaseimgborder">
                                <div class="col-2">
                                    <img src="https://img.league-funny.com/imgur/148292128067.jpg"
                                         alt="產品圖片">
                                </div>
                                <div class="col-10">
                                    <div class="col-12 purchasetextbox">
                                        產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述產品敘述
                                    </div>
                                    <div class="purchasenumber">
                                        <div class="col-6 form-row">
                                            數量
                                        </div>
                                        <div class="col-6 form-row purchasecount">
                                            $10000
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 purchaseend">
                                <div class="purchaseorder">訂單金額:</div>
                                <div class="purchaseallmoney">$10000</div>
                            </div>
                        </div>
                        <div class="col-12 purchaseend"><button class="purchasebtn purchasebuybtnsize">再買一次</button></div>
                    </div>
                    <!-- 複製結束 -->

                </div>
                <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">所有商品</div>
                <div class="tab-pane fade" id="product1" role="tabpanel" aria-labelledby="product1-tab">商品1</div>
                <div class="tab-pane fade" id="product2" role="tabpanel" aria-labelledby="product2-tab">商品2</div>
                <div class="tab-pane fade" id="product3" role="tabpanel" aria-labelledby="product3-tab">商品3</div>
                <div class="tab-pane fade" id="product4" role="tabpanel" aria-labelledby="product4-tab">商品4</div>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            user: {
                name: "",
                phone: "",
                birth: "",
                address: "",
                sex: "",
                uploadPicPath: ""
            }
        },
        mounted: function () {
            let self = this;
            axios.get("/api/MemberCenter/").then((resp) => { this.user = resp.data });
        }
    });
</script>
