<script src="/VueComponent/VueDemo.js"></script>

<script>
    var user = function () {
        this.password = "";
        this.password2 = "";
    };
</script>

<br/>
<br/>

<div class="container" id="app">
    <div class="row">
        <test v-bind:user="user"></test>

        <!-- 右邊內容 -->
        <div class="col-lg-10 acccolor">
            <div>
                <h4 class="display acpabord">更改密碼</h4>
            </div>
            <div>

                <div>
                    <div class="display">
                        <p>新的密碼</p>
                    </div>
                    <div class="display"><input type="password" name="" id="" v-model="user.password2"></div>
                </div>
                <div>
                    <div class="display">
                        <p>確認密碼</p>
                    </div>
                    <div class="display"><input type="password" name="" id="" v-model="user.password"></div>
                </div>
                <div><button v-on:click="confirm">確認</button></div>
            </div>
        </div>

    </div>
</div>






<script>

    var app = new Vue({
        el: '#app',
        data: {
            user: new user()
        },
        methods: {
            confirm: function () {
                let self = this;
                console.log(self.user.password);
                console.log(self.user.password2);
                if (self.user.password !== self.user.password2) {
                    alert("密碼確認不一致");
                    return;
                }
                axios.put("/api/MemberCenter", self.user)
                    .then(() => {
                        alert("修改成功，跳回首頁登出");
                        resetComplite();
                    });
            }
        },
        mounted: function () {
            let self = this;
            axios.get("/api/MemberCenter/").then((resp) => { this.user = resp.data });
        }
    });
    resetComplite = function () {
        axios.delete("/api/LoginAndRegister").then(() => {
            window.location.href = "/Home/Index";
        });
    }
</script>