
.ordertitle {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search1 {
    margin-left: 920px;
}

.pagination {
    margin-left: 450px;
}
