

 .photo{
     width: 960px;
     background-color: forestgreen;
    margin: auto;
   
    
}
.carousel slide{
    width: 200px;
    background-color: aqua;
    float: left;
    margin: 10px;
}

.container{
    margin-top: 30px;
}
.purchase{
    font-size: 15px;
}

.item{
    width: 650px;
    margin: 10px;
}
.hot1{
    width: 200px;
    position: absolute;
    display: flex;
}
.hot2{
    width: 300;
    border: 1px solid #aaa; 
    margin: auto;
    padding: 5px;
    border-radius: 3px;
}
.tab{
    background-color: #f00;
    color: #fff;
    padding: 3px 5px;
    position: absolute;
    right: -4px;
    top: -4px;
}
.hot{
    margin-top: 10px;
    margin-left: 100px ;
}
.item{
    margin: 10px;
    
}
.productfont{
    margin: 20px;
    padding: 10px;
}
.lable{
    display: inline-block;
}
.message
{
    width: 100%;
background-color: antiquewhite;
}

.button{
    border: 1px solid #aaa;
    border-radius: 3px;
}
.text{
    text-align: center;
}


.speak{
    margin-top: 10px;
    margin-left: 70px;
}
.speak1{
    padding-left: 65px;
}
.line1{
    border: 1px solid rgb(170,170,170);
    border-left:none ;
    border-right: none;
    
}
.a{
    padding: 30px;
}
.imge{
    border-radius: 50%;
}
.ad{
    width: 60%; 
    padding: 10px;
    margin: 5% auto;
    
}

.adcss{
border: 2px solid gray;
position: relative;
padding: 7px;
}

.adhot{
    background-color: #f00;
    color: #fff;
    padding: 3px 5px;
    position: absolute;
    right: -3px;
    top: -2px;
}
.description{
    font-size: 25px;
}
.price{
    font-size: 20px;
}
.nav::before {
    height:0px;
}
.concern{
    padding-top: 10px;
}
.bottomblock{
    margin-top: 70px;
}
.Buy{
    margin-left: 0px;
    display: inline;
    position: absolute;
    padding-top: 25px;
}
.textbtn{
    padding: 0px;
    font-size: 20px;
    width: 40px;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}
.stepper {
  border: 1px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: #fff;
  padding: 1px;
}
.stepper input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
}
.stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #eee;
  color: #333;
  border: none;
}


.collection{
    margin-top: 20px;
    margin-left: 730px;
}

.btns{
    display: inline;
    margin-left: 50px;
    margin-top: 2px;
    position: absolute; 
}
.name {
margin-left:12px;
}

/*¯d¨¥ªO*/
input[type="text"] {
    box-sizing: border-box;
    width: 70%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}

    input[type="text"][required]:focus {
        border-color: #00bafa;
    }

        input[type="text"][required]:focus + label[placeholder]:before {
            color: #00bafa;
        }

        input[type="text"][required]:focus + label[placeholder]:before,
        input[type="text"][required]:valid + label[placeholder]:before {
            transition-duration: 0.2s;
            transform: translate(0, -1.5em) scale(0.9, 0.9);
        }

    input[type="text"][required]:invalid + label[placeholder][alt]:before {
        content: attr(alt);
    }

    input[type="text"][required] + label[placeholder] {
        display: block;
        pointer-events: none;
        line-height: 1.25em;
        margin-top: calc(-3em - 2px);
        margin-bottom: calc((3em - 1em) + 2px);
    }

        input[type="text"][required] + label[placeholder]:before {
            content: attr(placeholder);
            display: inline-block;
            margin: 0 calc(1em + 2px);
            padding: 0 2px;
            color: #898989;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
        }









/* ul{
    list-style: none;
}

.wrapper {
    display: flex;
    border: 2px solid #f73939;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
   
}
.tab{
    border: 1px solid #ddd;
    border-bottom: 0;
    height: 36px;
    width: 320px;
    display: flex;
    
}

.tab li{
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border-top: 4px solid #fff;
   
}
.area .main{
    display: flex;
    display: none;
}
.area .main.active{
    display: block;
}
.tab li.active{
    border-bottom: 0;
    border-color:#e4ccb4;
}


 
 */
