<script>
    var user = function() {
        this.email = "";
        this.password = "";
    };
    //class user {
    //    mail = " ";
    //    pass = 5;
    //}

</script>

    <!-- 登入選單 -->
    <div class="container-fluid center" id="app">
    <div class="row">
        <div class="outsideborder">
            <div>
                <p class="welcome col-lg-12">歡迎登入</p>
            </div>
            <div class="col-lg-12">
                <p class="display nobr">電子郵件</p><input class="display textborder col-md-8" type="text"
                                                       placeholder="Enter your email" v-model="user.email">
            </div>
            <div class="col-lg-12">
                <p class="display nobr2">密碼</p>
                <input class="display textborder col-md-8" type="password" placeholder="Enter your password" name=""
                       id="" v-model="user.password">
            </div>
            <div class="col-lg-12"><a href="#">忘記密碼</a></div>
            <div class="col-lg-12"><input class="loginandregister col-lg-12" type="submit" value="登入"  v-on:click="login">
                <div></div>
                <div>
                    <p class="or col-lg-12">—————— 或是 ——————</p>
                </div>
                <div>
                    <div class="linklogin col-lg-12"><a href="#"></a>fb</div>
                    <div class="linklogin col-lg-12"><a href="#"></a>google</div>
                    <div class="linklogin col-lg-12"><a href="#"></a>line</div>
                </div>
                <div class="col-lg-12">
                    <input class="loginandregister1" type="submit" value="註冊">
                </div>
            </div>
        </div>
    </div>
    </div>


<script>
    var app = new Vue({
        el: "#app",
        data : {
            user:new user()
        },
            methods: {
            login:function() {
                let self = this;
                axios.post("/api/LoginAndRegister", self.user).then((resp) => {
                    console.log(resp);
                    if (resp.data === "登入成功") {
                        window.location.href = "/Home/Index";
                    }
                    if (resp.data === '帳號未啟用') {
                        alert("帳號未啟用");

                    }
                });
            }
        }
    })

</script>


