@{
    Layout = null;
}
<script>
    var user = function() {
        this.email = "";
        this.password = "";
    };

</script>


<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/mystyle.css">
<script src="~/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 歡迎註冊 -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"rel="stylesheet">
<!--加載 Google 平台庫-->

<body>
    <div class="disflix" id="app">
        <div class="rew50"><a href=@Url.Action("Index","Home")><img src="~/img/Log.png" alt=""> 一起讓美好的事物發生</a></div>
        <div class="regi">
            <h2>會員登入</h2>
            <label class="addp" for="email">電子郵件</label>
            <input class="addtext" type="text" name="" id="email" v-model="user.email">
            <label class="addp" for="password">密碼</label>
            <input class="addtext" type="password" name="" id="password" v-model="user.password">
            <div class="registerdiv">
                <input type="submit" name="commit" value="登入" class="registerbtn" data-disable-with="登入" v-on:click="login">
            </div>
            <div class="iagree">繼續進行代表你同意<a href="">服務條款</a></div>
            
            <div class="registerdiv">
                <a class="registerbtn2" href=@Url.Action("GoogleLogin","Home")>Google登入</a>
                <a class="registerbtn2" href=@Url.Action("FbLogin","Home")>FaceBook登入</a>
            </div>

            <div class="registerdiv">
                <div class="reborder"></div>
                <a class="reloginpass" href=@Url.Action("Register","Home")>註冊</a>
                <a class="reloginpass" href=@Url.Action("ForgetPassword","Home")>忘記密碼</a>
                <div class="nothingmg"></div>
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: "#app",
        data : {
            user:new user()
        },
        methods: {
            login:function() {
                let self = this;
                console.log("1234")
                axios.post("/api/LoginAndRegister", self.user).then((resp) => {
                    console.log(resp);
                    if (resp.data === "登入成功") {
                        window.location.href = "/Home/Index";
                        return;
                    }
                    if (resp.data === '帳號未啟用') {
                        alert("帳號未啟用");
                        return;
                    }
                    alert("帳號密碼錯誤");
                })
                    .catch((res) => { console.log(res.data) });
            }
        }
    })

</script>