@{
    Layout = null;
}
<script>
    var user = function() {
        this.email = "";
        this.name = "";
        this.password = "";
        this.password2 = "";
    };
</script>

<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/mystyle.css">
<script src="~/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<div class="disflix">
    <div class="rew50"><a href=@Url.Action("Index","Home")><img src="~/img/Log.jpg" alt=""> 一起讓美好的事物發生</a></div>

    <div class="regi" id="register">
        <h2>註冊帳號</h2>
        <label class="addp" for="name">會員姓名</label>
        <input class="addtext" type="text" name="" id="name" v-model="user.name">

        <label class="addp" for="email">電子郵件</label>
        <input class="addtext" type="text" name="" id="email" v-model="user.email" v-on:blur="checkMail">

        <label class="addp" for="password">密碼</label>
        <input class="addtext" type="password" name="" id="password" v-model="user.password">

        <label class="addp" for="confirm">確認密碼</label>
        <input class="addtext" type="password" name="" id="confirm" v-model="user.password2">

        <div class="registerdiv">
            <input type="submit" name="commit" value="註冊" class="registerbtn" data-disable-with="註冊" v-on:click="addUser">
        </div>
        <div class="iagree">繼續進行代表你同意<a href="">服務條款</a></div>
        <div class="reborder"></div>
        <a class="reloginpass" href="/Home/Login">登入</a>
        <a class="reloginpass" href="">忘記密碼</a>
    </div>
</div>




<script>
    var check = false;
    var app = new Vue({
        el: "#register",
        data: {
            user: new user()
        },
        methods: {
            handleClick: function() {
                alert("收到訊息");
            },
            checkMail: function() {
                let self = this;
                let url = "/api/LoginAndRegister/" + self.user.email;
                axios.get(url).then((resp) => {
                        if (resp.data === 0) {
                            console.log("電子郵件被用過了");
                            check = false;
                        }else if (resp.data === 1) {
                            check = true;
                        }
                    }
                );
            },
            addUser: function() {
                let self = this;
                if(self.user.email.trim() === "")
                {
                    alert("資料請填寫完整");
                }
                if (self.user.password !== self.user.password2) {
                    alert("密碼打不一樣");
                    return;
                }
                if (!check) {
                    alert("Email重複無法註冊");
                    return;
                }

                axios.post("/api/User", self.user).then((resp) => {
                    Swal.fire(
                        'Good job!',
                        '註冊成功！請至信箱收信驗證',
                        'success'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            document.location.href = "/home/login";
                        }
                    });
                });

            }
        }
    });
</script>