    <div class="col-lg-2">
        <div>
            <img src="https://img.league-funny.com/imgur/148292128067.jpg" alt="頭像">
        </div>
        <div><a type="button" data-toggle="collapse" data-target="#money">財務設定</a></div>
        <div id="money" class="collapse">
            <div><a href="#">金流設定</a></div>
            <div><a href="#">我的錢包</a></div>
        </div>
        <div><a type="button" data-toggle="collapse" data-target="#paymanage">訂單管理</a></div>
        <div id="paymanage" class="collapse">
            <div><a href=@Url.Action("MyProduct","Product")>我的商品</a></div>
            <div><a href=@Url.Action("Index","Product")>新增商品</a></div>
        </div>
        <div><a href="#">賣家訊息</a></div>
    </div>