<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tuan Buy">
    <meta name="keywords" content="Tuan Buy, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuan Buy</title>
</head>

<body>
    <div class="container colerwhite mtb2rem" id="app">
        <div class="row">
            <div class="col-12 checkfont">結帳</div>

            <p class="display col-6 checkmg-15rem">訂單商品</p>
            <p class="display col-1 checkmg-1">單價</p>
            <p class="display col-1 checkmg-2">數量</p>
            <p class="display col-1 checkmg-3">統計</p>
            <p class="display col-1 checkmg-4">操作</p>

            <div class="col-lg-12">
                <p><input class="checkpoint" type="checkbox" name="all" onclick="check_all(this,'c')" />全選/取消</p>
            </div>
            <!-- 商品格式 -->
            <div class="dasdP" v-for="item in productShoppings">
                <input class="col-1 checkpointdiv checkpoint" type="checkbox" name="c" value="">
                <img class="col-1 checkimg" :src="item.productPicPath" alt="商品圖">
                <p class="checkproduct col-5">
                    {{item.productDescription}}
                </p>
                <p class="col-1 checauto">${{item.productPrice}}</p>
                <div class="col-2 checauto">
                    <span class="stepper">
                        <button v-on:click="item.productCount -= 1">–</button>
                            <span v-if="item.productCount<=0">
                                <input class="checkinputnumber" type="number" id="stepper" :value="item.productCount=0" min="0" max="100" step="1" readonly>
                            </span>                                 
                            <input class="checkinputnumber" type="number" id="stepper" :value="item.productCount" v-else min="0" max="100" step="1" readonly>
                        <button v-on:click="item.productCount += 1">+</button>
                    </span>
                </div>
                <p class="col-1 checauto checkcolor">${{item.productPrice * item.productCount}}</p>
                <button class="col-1 checauto checkdelbtn" v-on:click="DeleteProduct(item.productId)">刪除</button>
            </div>
            <!-- 商品格式 從這段結束複製 -->
            <div class="col-12 gprdground"></div>
            <div class="col-6 display">
                <div>留言</div><textarea class="checktextarea" name="" id="" cols="30" rows="10"
                                       placeholder="統一編號 / 管理室代收 / 電話聯絡時間..."></textarea>
            </div>
            <div class="col-6 display">
                <div>姓名</div><p class="checktext">地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址</p>
                <div>電話</div><p class="checktext">地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址</p>
                <div>宅配地址</div><p class="checktext">地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址地址</p>
            </div>


            <div class="col-12 gprdground"></div>


            <div class="col-12">
                <span class="checkfont checkright">付款方式</span><button class="checkpaystylebtn">
                    貨到付款
                </button><button class="checkpaystylebtn">信用卡付款</button><button class="checkpaystylebtn">
                    銀行轉帳
                </button>
            </div>

            <div class="col-12 checkend checkmgbot">
                <div class="checkmgright">團購折價券</div>
                <!-- 修改 -->
                <button type="button" class="btn check-ddd" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="選擇折價券">
                    選擇折價券
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">選擇折價券</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="checkcostdiv">
                                        <span>新增折價券</span>
                                        <input class="checkcosttext" type="text">
                                        <button class="checktextbtn">使用</button>
                                    </div>
                                    <div class="checkchosediv">
                                        <img src="https://beautiful666.com/images/10/2s.jpg" alt="折價券" width="100" height="100">
                                        <p class="checkchosep">折價券內容折折價券內容折折價券內容折折價券內容折折價券內容折折價折價券內容折折價券內容折折價券內容折折價券內容折折價券內容折券內容折折價券內容折</p>
                                        <input class="checkcheckbox" type="checkbox" name="" id="">
                                    </div>
                                    <!-- 複製 -->
                                    <div class="checkchosediv">
                                        <img src="https://beautiful666.com/images/10/2s.jpg" alt="折價券" width="100" height="100">
                                        <p class="checkchosep">折價券內容折折價券內容折折價券內容折折價券內容折折價券內容折折價折價券內容折折價券內容折折價券內容折折價券內容折折價券內容折券內容折折價券內容折</p>
                                        <input class="checkcheckbox" type="checkbox" name="" id="">
                                    </div>
                                    <!-- 複製 -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn checkokbtn">選擇</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 折價券結束 -->
            </div>
            <div class="col-12 checkend">
                <div class="purchaseorder">總付款金額</div><span class="purchaseallmoney">$10000</span>
            </div>
            <div class="col-12 checkend checkmgbot"><button class="purchasebtn purchasebuybtnsize">下訂單</button></div>
        </div>
    </div>
</body>

</html>
<script>
    class ProductShopping {
        buyerName = null;
        buyerPhone = null;
        buyerAddress = null;
        productId = null;
        productDescription = null;
        productPicPath = null;
        productPrice = 0;
        productCount = 1;
    }
    var app = new Vue({
        el: "#app",
        data: {
            productShopping: new ProductShopping(),
            productShoppings :[],
        },
        methods: {
            DeleteProduct: function (e) {
                var ProductId = e;
                console.log(e);
                $.ajax({
                    type: "POST",
                    url: "/Product/DelectShoppingCart",
                    data: productId,
                    success: function (response) {
                    },
                    error: function (response) {
                        alert(response);
                    }
                });

            }
        },
        mounted: function () {
            axios.get("/Product/GetUserShoppingCart/").then((resp) => {
                console.log('當前使用者的購物車品項有');
                console.log(resp);
                for (let i = 0; i < resp.data.length; i++) {
                    console.log
                    var shoppingObject = new ProductShopping();
                    shoppingObject.buyerAddress = resp.data[i].buyerAddress;
                    shoppingObject.buyerName = resp.data[i].buyerName;
                    shoppingObject.buyerPhone = resp.data[i].buyerPhone;
                    shoppingObject.productDescription = resp.data[i].productDescription;
                    shoppingObject.productId = resp.data[i].productId;
                    shoppingObject.productPicPath = '/ProductPicture/'+ resp.data[i].productPicPath;
                    shoppingObject.productPrice = resp.data[i].productPrice;
                    app.productShoppings.push(shoppingObject);
                }
                console.log(app.productShoppings)
            })
        },
    });
</script>


<script>
    var inc = document.getElementsByClassName("stepper");
    for (i = 0; i < inc.length; i++) {
        var incI = inc[i].querySelector("input"),
            id = incI.getAttribute("id"),
            min = incI.getAttribute("min"),
            max = incI.getAttribute("max"),
            step = incI.getAttribute("step");
        document
            .getElementById(id)
            .previousElementSibling.setAttribute(
                "onclick",
                "stepperInput('" + id + "', -" + step + ", " + min + ")"
            );
        document
            .getElementById(id)
            .nextElementSibling.setAttribute(
                "onclick",
                "stepperInput('" + id + "', " + step + ", " + max + ")"
            );
    }

    function stepperInput(id, s, m) {
        var el = document.getElementById(id);
        if (s > 0) {
            if (parseInt(el.value) < m) {
                el.value = parseInt(el.value) + s;
            }
        } else {
            if (parseInt(el.value) > m) {
                el.value = parseInt(el.value) + s;
            }
        }
    }
</script>