<!--倉俊寫的 後端志輝-->
<link rel="stylesheet" href="~/css/image.css" type="text/css">

<div class="container" id="app">
    <div class="row">
        <div class="col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <!--商品圖片-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" :data-slide-to="index" v-for="(item,index) in productData.productPicPath" v-if="index >= 1"></li>
                        <li data-target="#carouselExampleIndicators" :data-slide-to="index" class="active" v-else></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" v-for="(item,index) in productData.productPicPath" v-if="index >= 1">
                            <img class="d-block w-100" :src="item" style="height:400px;width:250px;" alt="First slide">
                        </div>
                        <div class="carousel-item active" v-else>
                            <img class="d-block w-100" :src="item" style="height:400px;width:250px;" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <!--分類-->
            <div class="take">
                產品種類
                <div class="lable">\</div>
                <a href="">{{productData.productCategory}}</a>
            </div>
            <div class="Productname">
                <a class="descriptionblock" href="">
                    <!--商品名稱-->
                    <h2 class="description">{{productData.productTitle}}</h2>
                </a>
                <div class="concern">
                    <span class="master">團主</span>
                    <a class="personname" href="">{{productData.seller}}</a>
                    <a href="">聊聊+</a>
                    <a href="">商場</a>
                </div>
                <!--商品內容-->
                <p>{{productData.productDescription}}</p>
                <div class="price">
                    <div class="price">目標金額NT${{productData.productTargetPrice}}</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <div class="line">
                        <div class="nav nav-list"></div>
                    </div>
                    <div class="purchase">
                        <span>參與團購人數</span>
                        <span>{{productData.buyers}}</span>
                    </div>
                    <div class="purchase">
                        <span>剩餘時間</span>
                        <span>{{productData.productLastTime}}</span>
                    </div>
                    <div class="purchase">
                        <span>時程</span>
                        <span>{{productData.productStartTime}}~{{productData.productEndTime}}</span>
                    </div>
                    <div class="Buy">
                        <span class="stepper">
                            <button>–</button>
                            <input type="number" id="stepper" value="1" min="0" max="100" step="1" readonly>
                            <button>+</button>
                        </span>
                        <button type="button" class="btn btn-danger">加入團購</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomblock">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs justify-content-start" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="spec-tab" data-toggle="tab" href="#spec" role="tab"
                           aria-controls="spec" aria-selected="true">產品規格</a>
                    </li>
                    <li class="nav-item" role="presentation" v-on:click="getMessage">
                        <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab"
                           aria-controls="message" aria-selected="false">留言</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="spec" role="tabpanel" aria-labelledby="spec-tab">
                        <div class="row">
                            <div class="col-8">
                                <div>
                                </div>
                                <div>
                                    <tr>
                                        <td>
                                            <h2>
                                                {{productData.productDescription}}
                                                <img src="" alt="">
                                            </h2>
                                            <div class="item">
                                                <img src="" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="" alt="">
                                            </div>

                                            <div class="item">
                                                <h6></h6>
                                                <img src="" alt="">
                                                <h6 class="productfont">
                                                    {{productData.productSummary}}
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <img src="" alt="">
                                                <h6 class="productfont">
                                                    而火的既視感被德國特製陶瓷玻璃看得不要不要，啪滋啪滋聲就是露營追求的信仰聲 .ᐟ

                                                    偷偷跟你說 … PILMOA
                                                    迷你露營燒柴爐跟同價位的燒柴爐相比，唯一有超耐熱玻璃窗。讓火不再是只可遠觀，不可褻玩焉。盡情在露營時，愛火、玩火、觀火
                                                    .ᐟ
                                                    是貨真價實的好「火」伴 .ᐟ
                                                </h6>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                            <div class="col-4">
                                <!--廣告-->
                                <div class="ad">
                                    <div class="adcss">
                                        <div class="adhot">
                                            HOT
                                        </div>
                                        <a href="">
                                            <div style="text-align: center;">
                                                <img src="" alt="">
                                            </div>
                                            <div>
                                                <h5>
                                                    <strong style="color: black">ATOLL 快轉機身環 | 最靈活的相機角度調整配件</strong>
                                                </h5>
                                                <p> 團主 by <a href="">Harry Wang</a></p>
                                                <p>ATOLL 是相機的角度調整環，具有腳架環的功能，但裝在機身上，超便利流暢的操作體驗，彷如相機的一部份</p>
                                            </div>
                                            <div>
                                                <span>剩餘14天</span>
                                                <span>金額987</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="ad">
                                    <div class="adcss">
                                        <div class="adhot">
                                            HOT
                                        </div>
                                        <a href="">
                                            <div style="text-align: center;">
                                                <img src="" alt="">
                                            </div>
                                            <div>
                                                <h5>
                                                    <strong style="color: black">ATOLL 快轉機身環 | 最靈活的相機角度調整配件</strong>
                                                </h5>
                                                <p> 團主 by <a href="">Harry Wang</a></p>
                                                <p>ATOLL 是相機的角度調整環，具有腳架環的功能，但裝在機身上，超便利流暢的操作體驗，彷如相機的一部份</p>
                                            </div>
                                            <div>
                                                <span>剩餘14天</span>
                                                <span>金額987</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="ad">
                                    <div class="adcss">
                                        <div class="adhot">
                                            HOT
                                        </div>
                                        <a href="">
                                            <div style="text-align: center;">
                                                <img src="" alt="">
                                            </div>
                                            <div>
                                                <h5>
                                                    <strong style="color: black">ATOLL 快轉機身環 | 最靈活的相機角度調整配件</strong>
                                                </h5>
                                                <p> 團主 by <a href="">Harry Wang</a></p>
                                                <p>ATOLL 是相機的角度調整環，具有腳架環的功能，但裝在機身上，超便利流暢的操作體驗，彷如相機的一部份</p>
                                            </div>
                                            <div>
                                                <span>剩餘14天</span>
                                                <span>金額987</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="ad">
                                    <div class="adcss">
                                        <div class="adhot">
                                            HOT
                                        </div>
                                        <a href="">
                                            <div style="text-align: center;">
                                                <img src="" alt="">
                                            </div>
                                            <div>
                                                <h5>
                                                    <strong style="color: black">ATOLL 快轉機身環 | 最靈活的相機角度調整配件</strong>
                                                </h5>
                                                <p> 團主 by <a href="">Harry Wang</a></p>
                                                <p>ATOLL 是相機的角度調整環，具有腳架環的功能，但裝在機身上，超便利流暢的操作體驗，彷如相機的一部份</p>
                                            </div>
                                            <div>
                                                <span>剩餘14天</span>
                                                <span>金額987</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
                        <form>
                            <input required='' type='text'>
                            <label alt='留下你的評論吧!' placeholder='按下Enter送出'></label>
                        </form>
                        <!-- Featured on LittleBigDetails -->
                        <div class="container">
                            <!--對話內容留言板-->
                            <div class="container">
                                <div class="headpic">
                                    <div class="headpic1">
                                        <img class="imge" src="https://i.picsum.photos/id/892/50/50.jpg?hmac=UFi_MC3DKG4PnEpIR60EdCg4AHzs_jnNxQ8uxamK7Co" alt="">
                                        <a class="name" href="">王曉明</a>
                                    </div>
                                    <div class="speak1">
                                        <p>這個可以吃嗎?</p>
                                    </div>
                                </div>
                                @*團主回覆可日後實作*@
                                <div class="speak">
                                    <div>
                                        <a href="">Harry Wang</a>
                                        <span>團主</span>
                                    </div>
                                    <div>
                                        <p>您好，是可以使用的唷。相關大小也建議參酌頁面建議，也提醒火伴，無論是使用哪種燒柴爐/焚火台，要用木炭的話，可選有中空型的</p>
                                    </div>
                                </div>
                                <div class="headpic">
                                    <div class="headpic1">
                                        <img class="imge" src="https://i.picsum.photos/id/892/50/50.jpg?hmac=UFi_MC3DKG4PnEpIR60EdCg4AHzs_jnNxQ8uxamK7Co" alt="">
                                        <a class="name" href="">王曉明</a>
                                    </div>
                                    <div class="speak1">
                                        <p>這個可以吃嗎?</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const options = {
        year: 'numeric',    // 年: 使用4位數
        month: '2-digit',   // 月: 使用2數位
        day: '2-digit',     // 日: 使用2數位
        hour12: false,      // 12小時制: 不使用
    };
        //抓取Url資訊
        let str = window.location.pathname.split("/");
        /*抓取Url id*/
        let prdid = str[str.length - 1];
        class ProductData {
            productId = 0;
            buyers = 0;
            productCategory = '';
            productDescription = '';
            productEndTime = '';
            productLastTime = '';
            productStartTime = '';
            productSummary = '';
            productTargetPrice = 0;
            productTitle = '';
            productPicPath = [];
            seller = '';
            sellerId = 0;
        }
        var app = new Vue({
            el: "#app",
            data: {
                productData: new ProductData(),
            },
            methods: {
                getMessage: function () {
                    console.log('點擊取得留言');
                }
            },
            mounted: function () {
                axios.get("/Product/GetProductData/" + prdid).then((resp) => {
                    this.productData.productId = resp.data.id;
                    if (resp.data.buyers !== null) { this.productData.buyers = resp.data.buyers;}
                    this.productData.productCategory = resp.data.productCategory;
                    this.productData.productDescription = resp.data.productDescription;
                    this.productData.productId = resp.data.id;
                    this.productData.productStartTime = new Intl.DateTimeFormat('zh-TW', options).format(new Date(resp.data.productStartTime));
                    this.productData.productEndTime = new Intl.DateTimeFormat('zh-TW', options).format(new Date(resp.data.productEndTime));
                    this.productData.productLastTime = resp.data.productLastTime;
                    this.productData.productSummary = resp.data.productSummary;
                    this.productData.productTargetPrice = resp.data.productTargetPrice;
                    this.productData.productTitle = resp.data.productTitle;
                    this.productData.seller = resp.data.seller;
                    this.productData.sellerId = resp.data.sellerId;
                    for (var item in resp.data.productPicPath) {
                        this.productData.productPicPath.push(resp.data.productPicPath[item]);
                    }
                    const date = new Date(response[i].createDate);
                    app.message.createDate = new Intl.DateTimeFormat('zh-TW', options).format(date)
                });
                console.log(this.productData);
            }
        });

</script>

<!--切換分頁-->

<script>
    var inc = document.getElementsByClassName("stepper");
    for (i = 0; i < inc.length; i++) {
        var incI = inc[i].querySelector("input"),
            id = incI.getAttribute("id"),
            min = incI.getAttribute("min"),
            max = incI.getAttribute("max"),
            step = incI.getAttribute("step");
        document
            .getElementById(id)
            .previousElementSibling.setAttribute(
                "onclick",
                "stepperInput('" + id + "', -" + step + ", " + min + ")"
            );
        document
            .getElementById(id)
            .nextElementSibling.setAttribute(
                "onclick",
                "stepperInput('" + id + "', " + step + ", " + max + ")"
            );
    }
    //團購按鈕
    function stepperInput(id, s, m) {
        var el = document.getElementById(id);
        if (s > 0) {
            if (parseInt(el.value) < m) {
                el.value = parseInt(el.value) + s;
            }
        } else {
            if (parseInt(el.value) > m) {
                el.value = parseInt(el.value) + s;
            }
        }
    }
</script>
