<div class="container" id="form1">
    <div class="row">
        <partial name="_MyProductCenter">
        <!-- 右邊內容 -->
        <div class="col-lg-10">
            <div>
                <div class="display">
                    <p>商品名稱</p>
                </div>
                <div class="display"><input type="text" id="Name" v-model="product.name"></div>
            </div>
            <div>
                <div class="display">
                    <p>描述</p>
                </div>
                <div class="display"><input type="text" id="Description" v-model="product.description"></div>
            </div>
            <div>
                <div class="display">
                    <p>內容</p>
                </div>
                <div class="display"><input type="text" id="Content" v-model="product.content"></div>
            </div>
            <div>
                <div class="display">
                    <p>類別</p>
                </div>
                <div class="display">@*<input type="text" id="Category" v-model="product.category"></div>*@
                <select v-model="product.category">
                    <option  disabled selected value="商品種類" >商品種類</option>
                    <option>乾糧</option>
                    <option>票卷</option>
                    <option>美食</option>
                    <option>用品</option>
                    <option>3C</option>
                </select>
            </div>
            <div>
                <div class="display">
                    <p>價格</p>
                </div>
                <div class="display"><input type="number" id="Price" v-model="product.price"></div>
            </div>
            <div>
                <div class="display">
                    <p>結束日期</p>
                </div>
                <div class="display"><input type="date" name="" id="EndTime" v-model="product.endTime"></div>
            </div>

            <div class="col-lg-12">
                
                <template v-if="preview_list.length">
                    <div v-for="item, index in preview_list" v-bind:key="index">
                        <img v-bind:src="item" class="img-fluid" width="200" height="200"/>
                        <p class="mb-0">file name: {{ image_list[index].name }}</p>
                        <p>size: {{ image_list[index].size/1024 }}KB</p>
                    </div>
                </template>

            </div>
            <div>
                <input type="file" class="form-control" id="PicPath" accept="image/*" multiple v-on:change="previewMultiImage">
            </div>
            <div><button v-on:click="addProduct">刊登</button></div>
        </div>
        <!-- 右邊內容 -->
    </div>
 </div>
</div>


<script>
    var app = new Vue({
        el: "#form1",
        data: {
            product: {
                name:"商品",
                price:300,
                description:"描述",
                content:"內容",
                picPath:[ ],
                category:"商品種類",
                endTime:null
            },
            preview:null,
            image: null,
            preview_list: [],
            image_list: []
        },
        methods: {
            up: function (event) {
                console.log(event);
                //this.product.picPath = event.target.files[0];
                this.product.picPath = event.target.files;
                var input = event.target;
                if (input.files) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        this.preview = e.target.result;
                    }
                    this.image = input.files[0];
                    reader.readAsDataURL(input.files[0]);
                }
                alert("上傳成功");
            },
            previewMultiImage: function(event) {
                this.product.picPath = event.target.files;
                var input = event.target;
                var count = input.files.length;
                var index = 0;
                if (input.files) {
                    while(count --) {
                        var reader = new FileReader();
                        reader.onload = (e) => {
                            this.preview_list.push(e.target.result);
                        }
                        this.image_list.push(input.files[index]);
                        reader.readAsDataURL(input.files[index]);
                        index ++;
                    }
                }
            },
            addProduct:function() {
                var bodyFormData = new FormData();
                bodyFormData.append("Name", this.product.name);
                bodyFormData.append("Price", this.product.price);
                bodyFormData.append("Content", this.product.content);
                bodyFormData.append("Description", this.product.description);
/*                bodyFormData.append("PicPath", this.product.picPath);*/
                for(let i =0; i <  this.product.picPath.length; i++) {
                    bodyFormData.append("PicPath", this.product.picPath[i]);
                }
                bodyFormData.append("Category", this.product.category);
                bodyFormData.append("EndTime", this.product.endTime);
                console.log(bodyFormData);
                axios({
                        method: "post",
                        url: "/Product/PostProduct",
                        data: bodyFormData,
                        headers: { "Content-Type": "multipart/form-data" }
                    })
                    .then((resp) => alert(resp))
                    .catch((resp) => alert(resp));
            }
        }
    });
</script>