


<div class="container"  id="app">
    <div class="row">
        <div class="input-group" style="margin-top:25px">
            <input class="form-control width100">
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="搜尋">
            </span>
        </div>

        <table class="table table-striped col-gl-12 dropdown">
            <thead>
                <tr>
                    <th scope="col">訂單編號</th>
                    <th scope="col">客戶ID</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">付款方式</th>
                    <th scope="col">訂單日期</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in ordermanages">
                    <th scope="row">{{item.orderId}}</th>
                    <td>{{item.userName}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.paymentType}}</td>
                    <td>{{item.createDate}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary" v-bind:value="item.orderId"
                                v-on:click="update($event)" data-toggle="modal" data-target="#exampleModal"
                                data-whatever="">
                            修改
                        </button>
                        <button type="button" class="btn btn-danger" v-bind:value="item.orderId"
                                v-on:click="getOrder($event)" data-toggle="modal" data-target="#deleteModal">
                            刪除
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--修改使用者的對話盒-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:850px;margin-left:-160px;margin-top:80px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">修改訂單資料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--綁定form表單資料-->
                        <table class="table table-striped col-gl-12 dropdown">
                            <thead>
                                <tr>
                                    <th class="orderitem" scope="col">訂單編號</th>
                                    <th class="orderitem" scope="col">商品名稱</th>
                                    <th class="orderitem" scope="col">數量</th>
                                    <th class="orderitem1" scope="col">金額</th>
                                    <th class="orderitem1" scope="col">地址</th>
                                    <th class="orderitem1" scope="col">電話</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                
                                    <th scope="row">{{ordermanage.orderId}}</th>
                                    <th>{{ordermanage.productName}}</th>
                                    <th>{{ordermanage.count}}</th>
                                    <th>{{ordermanage.price}}</th>
                                    <th><input style="width:300px" v-model="ordermanage.address" /></th>
                                    <th><input style="width:110px" v-model="ordermanage.phone" /></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <h3>總價:{{ordermanage.count*ordermanage.price}}NTD</h3>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            取消
                        </button>
                        <!--觸發事件修改-->
                        <button type="button" class="btn btn-ddd" v-on:click="readyUpdate(event)">確認修改</button>
                    </div>
                </div>
            </div>
        </div>

        <!--刪除使用者的對話盒-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">刪除使用者</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        確定刪除?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            取消
                        </button>
                        <!--按下按鈕觸發刪除的API-->
                        <button type="button" class="btn btn-ddd" v-on:click="deleteUser" >刪除</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            ordermanages: [],
            ordermanage: {
                orderId: '',
                userName: '',
                createDate: '',
                productName: '',
                count: '',
                address: '',
                phone: '',
                paymentType: '',
                price: ''
            },
            target: null
        },
        methods: {
            update: function (e) {
                let self = this;
                let orderId = e.target.value;
                let target = self.ordermanages.find(i => { return orderId == i.orderId });
                self.ordermanage = target;
            },
            getOrder: function (e) {
                let self = this;
                self.target = e.target.value;
            },
            readyUpdate: function () {
                let self = this;
                //發送PUT請求到API修改資料
                axios.put("/BackstageMange/UpdateOrder/", self.ordermanage)
                    .then((resp) => alert("更新成功"))
                    .catch((res) => console.log(res.response.data));
                window.location.reload();

            },
            deleteUser: function () {
                let self = this;
                axios.delete("/BackstageMange/DeleteOrder/" + self.target)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((res) => console.log(res.response.data));
                console.log("/BackstageMange/DeleteOrder/" + self.target);
                window.location.reload();
            }
        },
        mounted: function () {
            let self = this;
            axios.get("/BackstageMange/TestJoin")
                .then((resp) => {
                    self.ordermanages = resp.data;
                })
                .catch((res) => {
                    console.log("錯誤訊息");
                    console.log(res.response.data)
                });
        }
    })


</script>
