@{
    Layout = "_BackstageLayout";
}


    <!--我的css-->
    <link rel="stylesheet" href="~/css/back.css">


@*中間內容變動區*@
<div class="content-inner w-100" id="navBar">
    <!-- Page Header儀錶板-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">儀錶板</h2>
        </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <!-- 使用者 -->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-violet">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#user-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3"><br>使用者</h6>
                                    <div class="progress" style="height: 4px">
                                        <div class="progress-bar bg-violet" role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.userCount}}</strong></div>
                            </div>
                        </div>
                        <!-- 處理中訂單 -->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-green">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#numbers-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3"><br>商品總數</h6>
                                    <div class="progress" style="height: 4px">
                                        <div class="progress-bar bg-green" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.productCount}}</strong></div>
                            </div>
                        </div>
                        <!-- 商品總數-->
                        <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-red">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#survey-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3">處理中<br>訂單</h6>
                                    <div class="progress" style="height: 4px">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.processOrder}}</strong></div>
                            </div>
                        </div>
                        <!-- 已處理完訂單 -->
                        <div class="col-xl-3 col-sm-6 py-4">
                            <div class="d-flex align-items-center">
                                <div class="icon flex-shrink-0 bg-orange">
                                    <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                        <use xlink:href="#list-details-1"> </use>
                                    </svg>
                                </div>
                                <div class="mx-3">
                                    <h6 class="h4 fw-light text-gray-600 mb-3">
                                        已完成<br>訂單
                                    </h6>
                                    <div class="progress" style="height: 4px">
                                        <div class="progress-bar bg-orange" role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="number"><strong class="text-lg">{{manger.finishOrder}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Header Section    -->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <!-- Statistics -->
                <div class="col-lg-3 col-12">
                    <div class="card mb-2" style="height:60px;">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img  style="margin-left: 10px;margin-top:-15px;" src="/img/payment/火.png" width="30" />
                                <div class="ms-3 hot"><strong class="text-lg d-block lh-1 mb-1 " style="color:red;">熱銷商品</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="/img/payment/第一名獎牌.png" width="55" /> 
                                <div class="ms-3"><b class="productcount">多力多滋</b> <h4>數量: 234</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="/img/payment/第二名獎牌.png" width="55" /> 
                                <div class="ms-3"><b class="productcount" >乳清蛋白</b> <h4>數量: 234</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="/img/payment/第三名獎排.png" width="55" />
                                <div class="ms-3"><b class="productcount" >遊戲網卡</b><h4>數量: 234</h4></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Line Chart            -->
                <div class="col-lg-6 col-12">
                    <div class="card mb-0 h-100">
                        <div class="card-body">
                            <canvas id="lineCahrt"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <!-- Bar Chart   -->
                    <div class="card">
                        <div class="card-body">
                            <div class="ranking">
                                <strong class="h2 mb-0 d-block text-violet " style="display: inline!important">團主排行</strong><img class="trophy" style="display: inline!important" src="/img/payment/皇冠.png" width="30" />
                            </div>
                            <div class="d-flex align-items-center qq"> 
                                <img src="~/img/payment/獎盃.png"/><img class="avatar shadow-0 img-fluid rounded-circle"src="/img/Avatar.jpg"/>
                                <div class="ms-3 sales" style="margin-left: 20px !important"><strong class="text-lg d-block lh-1 mb-1">$234</strong><h6>陳老師</h6></div>
                            </div>
                            <div class="d-flex align-items-center trophy2 qq">
                                <img src="/img/payment/第二名獎盃2.png"width="40" /><img class="avatar shadow-0 img-fluid rounded-circle avatar1" src="/img/Avatar.jpg" />
                                <div class="ms-3"style="margin-left:20px!important"><strong class="text-lg d-block lh-1 mb-1">$234</strong><h6>王小明</h6></div>
                            </div>
                            <div class="d-flex align-items-center qq"style="margin-left:2px;">
                                <img class="trophy3" src="/img/payment/第三名獎盃.png"width="44"/><img class="avatar shadow-0 img-fluid rounded-circle avatar2" src="/img/Avatar.jpg" />
                                <div class="ms-3"style="margin-left:19px!important"><strong class="text-lg d-block lh-1 mb-1">$234</strong><h6>小獅團購店</h6></div>
                            </div>
                        </div>
                    </div>
                    <!-- Numbers-->
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/img/payment/錢.png"/> 
                                <div class="ms-3"><strong class="text-lg mb-0 d-block lh-1">${{manger.totalSales}}</strong><b>平台銷售總額</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    class Manger {
        finishOrder = 0;
        processOrder = 0;
        productCount = 0;
        userCount = 0;
        totalSales = 0;
        hotProduct = 0;
        
    }
    var layout = new Vue({
        el: '#navBar',
        data: {
            homes: [],
            manger: new Manger(),
            user: "",
            picPath: ""
        },
        mounted: function () {
            let self = this;
            axios.get("/api/LoginAndRegister/")
                .then((resp) => {
                    self.user = resp.data;
                })
                .catch((res) => res.response.data);
            axios.get("/api/MemberCenter/")
                .then((resp) => { self.picPath = resp.data })
                .catch((res) => res.response.data);
            //撈出首頁內容資訊
            axios.get("/BackstageMange/Homeinformation")
                .then((resp) => {
                    /*self.homes = resp.data*/
                    layout.manger = resp.data;
                    console.log(layout.manger);
                })
                .catch((res) => res.response.data);
        },
        methods: {
            logout: function () {
                axios.delete("/api/LoginAndRegister").then(() => {
                    window.location.href = "/Home/Index";
                });
            },

        }

    });
</script>




