
@{
    Layout = "_BackstageLayout";
}


<!--我的css-->
<link rel="stylesheet" href="~/css/back.css">

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>*@
<div class="content-inner w-100 ss">
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">商品管理</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <div class="bg-white">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                    <li class="breadcrumb-item">
                        <a class="fw-light" href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active fw-light" aria-current="page">商品管理</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container " id="productMange">
        <div class="row ss">
            <div class="row1">
                <div class="search2">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search" v-model="search">
                    </div>
                </div>
                <button class="search2 updown btn btn-info" v-on:click="UpdateDisable">上/下架</button>
            </div>
            <table class="table table-striped col-gl-4 dropdown table-hover aaa bbb">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">商品圖</th>
                        <th scope="col">商品名稱</th>
                        <th scope="col">團主</th>
                        <th scope="col">價格</th>
                        <th scope="col">達標金額</th>
                        <th scope="col">開始日期</th>
                        <th scope="col">結束日期</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--分頁設定--> <!--item.disable==false -->
                    <tr v-for="item in products" v-if="item.disable==Disable && search=='' || item.productName==search || item.productId==search || item.userName==search">
                        <th scope="row">{{item.productId}}</th>
                        <td>
                            <img :src="item.picPath" style="width:80px;height:80px;" />
                        </td>
                        <td>{{item.productName}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.createTime}}</td>
                        <td>{{item.endTime}}</td>

                        <td v-if="Disable">
                            <button type="button" class="btn btn-secondary" v-bind:value="item.productId"
                                    v-on:click="update($event)" data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="">
                                內容資訊
                            </button>
                            <button type="button" class="btn btn-outline-success" v-bind:value="item.productId"
                                    v-on:click="getProductup($event)" data-toggle="modal" data-target="#deleteModa2"
                                    data-whatever="">
                                上架
                            </button>
                        </td>
                        <td v-else>
                            <button type="button" class="btn btn-secondary" v-bind:value="item.productId"
                                    v-on:click="update($event)" data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="">
                                內容資訊
                            </button>
                            <button type="button" class="btn btn-outline-danger" v-bind:value="item.productId"
                                    v-on:click="getProduct($event)" data-toggle="modal" data-target="#deleteModal">
                                下架
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>

            <!--產品下架對話盒-->
            <!--下架產品的對話盒-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin-top:200px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">下架商品</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: 0px;">
                                <span style="font-size: 1.5rem; font-weight: 700; opacity: .5;" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            確定下架?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                取消
                            </button>
                            <!--按下按鈕觸發刪除的API-->
                            <button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="productDown">下架</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--產品上架對話盒-->
            <div class="modal fade" id="deleteModa2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin-top:200px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">上架商品</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: 0px;">
                                <span style="font-size: 1.5rem; font-weight: 700; opacity: .5;" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            確定上架?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                取消
                            </button>
                            <!--按下按鈕觸發上架的API-->
                            <button type="button" class="btn btn-success"
                                    data-dismiss="modal" v-on:click="productUp">
                                上架
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--修改使用者的對話盒-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title dialogtitle" id="exampleModalLabel">商品資訊</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border:0px;">
                                <span style="font-size: 1.5rem; font-weight: 700; opacity: .5;" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--綁定form表單資料-->
                            <form>
                                <div>
                                    <label for="user-name" class="content"
                                           cproductpricelass="col-form-label">類別: {{product.category}}</label>
                                </div>
                                <div class="form-group">
                                    <label for="user-name" class="content"
                                           cproductpricelass="col-form-label">商品內容:</label>
                                    <p class="contenttext">{{product.content}}</p>
                                </div>
                                <div class="form-group">
                                    <label for="user-birth" class="content">商品描述:</label>
                                    <p class="contenttext">{{product.description}}</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                關閉
                            </button>
                            <!--觸發事件修改-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Footer-->
    <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
        <div class="container-fluid">
            <div class="row gy-2">
                <div class="col-sm-6 text-sm-start">
                    <p class="mb-0">Your company &copy; 2017-2021</p>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <p class="mb-0">
                        Design by
                        <a href="https://bootstrapious.com/p/admin-template" class="text-white text-decoration-none">Bootstrapious</a>
                    </p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>


<script>
    var app = new Vue({
        el: "#productMange",
        data: {
            products: [],
            product: {
                productId: '',
                productName: '',
                price: '',
                picPath: '',
                description: '',
                content: '',
                category: '',
                disable: false,
                butdisable: false,
            },
            target: null,
            currPage: 1,
            countOfPage: 6,
            search: '',
            Disable: false,
        },

        methods: {
            update: function (e) {
                let self = this;
                let productId = e.target.value;
                let target = self.products.find(i => { return productId == i.productId });
                self.product = target;
            },
            //下架商品
            getProduct: function (e) {
                let self = this;
                self.target = e.target.value;
            },
            productDown: function () {
                let self = this;
                axios.delete("/BackstageMange/ProductDown/" + self.target)
                    .then((res) => {
                        var deleteIndex = self.products.findIndex(function (obj) {      //不跳轉頁面刪除畫面內容
                            if (obj.productId == self.target) {
                                return true;
                            } else {
                                return false;
                            }
                        });
                        self.products[deleteIndex].disable = true;
                        //self.products.splice(deleteIndex, 1);
                         console.log(res);
                    })
                    .catch((res) => console.log(res.response.data));
                console.log("/BackstageMange/ProductDown/" + self.target);
                /*window.location.reload();*/
            },
            //上架商品
            getProductup: function (e) {
                let self = this;
                self.target = e.target.value;
                console.log(e.target.value);

            },
            productUp: function () {
                let self = this;
                axios.delete("/BackstageMange/ProductUp/" + self.target)
                    .then((res) => {
                        var deleteIndex = self.products.findIndex(function (obj) {
                            if (obj.productId == self.target) {
                                return true;
                            } else {
                                return false;
                            }
                        });

                        self.products[deleteIndex].disable = false;
                        //self.products.splice(deleteIndex, 1);                 //移除陣列
                        console.log(res);
                    })
                    .catch((res) => console.log(res.response.data));
                console.log("/BackstageMange/ProductUp/" + self.target);

            },
            //變化上下架按鈕
            UpdateDisable: function () {
                app.Disable = app.Disable ? false : true;
            }

        },
        mounted: function () {
            let self = this;
            axios.get("/BackstageMange/ProductJoin")
                .then((resp) => {
                    self.products = resp.data;
                    console.log(self.products);
                })
                .catch((res) => {
                    console.log("錯誤訊息");
                    console.log(res.response.data);
                });
        },

    });
</script>
